<div class="card">
  <div class="card-block">
    <div class="row">    
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><u><%= message.user.name %></u>: </span><br>
          <%= message.body %>
          <h6><%= message.timestamp %></h6>
        </p>  
      </div>
    </div>
  </div>
</div>